.card-container {
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.first-card {
    height: 88vh;
    width: 49vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
}

.second-card {
    height: 88vh;
    width: 49vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
}

.hero-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 41.3rem;
}

.hero-div1 h1 {
    text-transform: none;
    font-weight: 600;
    font-size: 4rem;
}

.hero-div1 h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.hero-div1 p {
    font-size: 2rem;
    color: #6e6e73;
}

.hero-div2 {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 41.3rem;
}

.hero-div2 img {
    height: 1rem;
    width: 2rem;
}